@import '~codemirror/theme/railscasts.css';

.cm-s-railscasts.CodeMirror {
  background: none;
  background-image: none;
  box-shadow: none;
  font-family: Source Code Pro, monospace;

  height: 100%;
  width: 100%;
}

.CodeMirror-lint-tooltip.CodeMirror-lint-tooltip {
  background-color: #292828;
  color: white;
  border: 1px solid #545353;
}
